.attendancegraph{
    flex: 4;
}
.attendanceTitleConatiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    
}
.attgraph{
    margin: 40px 30px;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}