.signuphomepage{
    position: relative;
}
.signuptopimage{ 
    object-fit: fill;
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
}
.signupbottomimage{
    height: 400px;
     left: 50px;
    position: absolute;
    top: 160px;
}
.signupwelcome{
    position: absolute;
    top:50px;
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.05em;
    font-size: 40px;
    left: 270px;
}
.signuptextlw{
    font-size: 44px;
    text-align: center;
    font-weight: bold;
}
.signupcontainerlogin{
    position: absolute;
    right: 30px;
    top: 90px;
    height: 450px;
    background-color: #CCD9BB;
    width: 420px;
    border-radius: 15px;
}
.signupheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 20px;

}
.signuptext{
    color: #284C4F;
    font-size: 23px;
    font-weight: 700;
}
.signupunderline{
    width: 61px;
    height: 6px;
    background: #284C4F;
    border-radius: 9px;
}

.signupinputs{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.signupinput{
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}
.signupinputicon{
    margin: 0px 30px;
    width: 25px;
    height: 25px;
}
.signupinput img{
    margin: 0px 30px;
    width: 25px;
    height: 25px;
}
.signupinput input{
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.signupsubmit-container{
    display: flex;
    gap: 15px;
    margin-top: 45px; 
    margin-left: 100px;
    margin-right: 100px;
    

}
.signupsubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 39px;
    color: #fff;
    background: #284C4F;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.signuplogin{
    display: flex;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 100px;
}